
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL
//-

div(tg-github-login-button)
    a.button.button-auth(href="", title="Enter with your github account")
        img(src="/plugins/github-auth/images/github-logo.png", alt="")
        span Sign in with Github
